@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: black;
    color: white;
}

.card {
    background-color:rgb(19, 19, 19) ;
}

.header{
    background-color: #15161a;
}
@media screen and (max-width: 480px) {
    .image {
      width: 150px;
    }
  }